* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #210404;
    min-height: 100vh;
    animation: animateBgColor 10s linear infinite;
}
@keyframes animateBgColor {
    0%{
        filter: hue-rotate(0);
    }
    25%{
        filter: hue-rotate(90deg);
    }
    50%{
        filter: hue-rotate(180deg);
    }
    75%{
        filter: hue-rotate(270deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.loader {
    position: relative;
}

.loader span {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    transform-origin: right;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
    position: absolute;
    content: '';
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #ff1500;
    /* background-color:#00ff0a; */
    border-radius: 50%;
    animation: animate 2s linear infinite;
    animation-delay: calc(-.1s * var(--i));
    box-shadow: 0 0 10px #ff1500, 0 0 20px #ff1500, 0 0 40px #ff1500, 0 0 60px #ff1500, 0 0 80px #ff1500, 0 0 100px #ff1500;
}

@keyframes animate{
    0%{
        transform: translateX(0) scale(.5);
    }
    50%{
        transform: translateX(200px) scale(1);
    }
    100%{
        transform: translateX(0) scale(.5);
    }
}
